*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  
}
input{
    display: block;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #FFA07A;
  }
  #wrapper{
    padding:10px 0 20px 0;
    width: 95%;
    max-width: 350px;
    height: fit-content;
    background-color: #ff7f4d;
    box-shadow: 10px 0px 20px #ff9166,-10px 0px 20px  #ff9166, -10px 0px 20px  #ff9166, -10px 0px 20px  #ff9166 ;
  }
  .screen{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .screen input{
    width: 95%;
    padding: 20px;
    border-radius: 5px;
    margin: 10px auto;
    outline: none;
    border: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 600;
    font-size: 17px;
  }

  .input{
    margin-top: 20px 0;
  }
  .input > div{
    padding: 10px 10px;
  }
  .input > div:hover{
    background-color:  #ec6a36;
  }
  /* The container */
.container, .length {
    display: block;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input[type="checkbox"] {
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    left: -100000px;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    position: absolute;
    right: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #b33300;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.first_C{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
input[type="number"]{
    width: 20%;
    height: 30px;
    outline: none;
    border: none;
    position: relative;
    right: 5px;
    text-align: center;
    font-weight: 600;
}

.generate{
    width: 95%;
    padding: 14px;
    border-radius: 5px;
    margin: 10px auto 15px;
    outline: none;
    text-align: center;
    border: none;
    background-color:  #ff5b1a;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Lucida Console", Monaco, monospace;
}
.generate:hover{
    outline-offset: 2px;
    outline-style: solid;
    outline-color:  #ec6a36;
}

.note{
    font-family: "Lucida Console", Monaco, monospace;
    width: 95%;
    margin: 0 auto;
    text-align: left;
    font-weight: 600;
}
@media screen and (min-width: 500px) {
    #wrapper{
        max-width: 450px;
    }
}

